/* ---- GLOBAL ---- */

body {
    background-color: #F4F5F8;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-size: 21px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}
h5 {
    font-size: 15px;
    font-weight: 600;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid #C4C4C4;
  color: #454545;
  background-color: #C4C4C4;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}
.container-settings .upload-btn-wrapper .btn {
  border-color: #4E4AFF;
  color: #fff;
  background-color: #4E4AFF;
}
.btn {
    padding: 8px 20px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.img-preview {
    width: 43px;
    height: 43px;
    background: #C4C4C4;
    border-radius: 50%;
    overflow: hidden;
}
.img-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-main {
    background-color: #4E4AFF;
    color: #FFFFFF;
    font-size: 16px;
}


.material-icons {
    padding-right: 5px;
}
.bg-grey {
    background: #C4C4C4;
}
.color-black {
    color: #000;
}
.home-d {
    min-height: 150px;
}
ul li a {
    color: #000;
}
.form-select {
    padding: 8px 15px;
    font-size: 15px;
    border-color: transparent;
}
.form-select:focus {
    box-shadow: unset;
    border-color: transparent;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
    background: #C9C9CA;
    color: #474747;
}
.nav-pills .nav-link:hover,.nav-pills .nav-link.active {
    background: #4E4AFF;
}
/* ---- BUTTONS ---- */

.btn-primary {
    background-color: #4E4AFF;
    border: 1px solid #3C39D9;
}

.btn-primary:hover {
    background-color: #2A26DC;
    border: 1px solid #2A26DC;
}


.btn-gray {
    color: #474747;
    background-color: #C9C9CA;
    border: 1px solid #a4a4a5;
}

.btn-gray:hover {
    background-color: #afafaf;
    border: 1px solid #8c8c8c;
}
.btn-silver {
    color: #555454;
    background-color: #E2E2E4;
    border: 1px solid #E2E2E4;
}

.btn-silver:hover {
    background-color: #afafaf;
}

.btn-white {
    color: #4E4AFF;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.btn-white:hover {
    color: #000000;
    background-color: #d1d3dc;
    border: 1px solid #d1d3dc;
}

.btn-drop {
    color: #707070;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.btn-drop:hover {
    color: #000000;
    background-color: #d1d3dc;
    border: 1px solid #d1d3dc;
}


.btn-transparent,.btn-transparent:hover {
   background-color: transparent;
   border-color: transparent;
}
/* Navigation bar */

.navbar {
    background-color: #4E4AFF;
}

.navbar-nav>li {
    padding-left: 15px;
}

.container-navbar {
    padding: 0px;
}

.nav-link {
    color: #FFFFFF;
    font-size: 14px;
}

.nav-link:hover {
    color: #FFFFFF;
}
.breadcrumb-item {
    position: relative;
    margin-right: 9px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 12px;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #808080;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.btn-nav {
    background-color: #2521BF;
    color: #FFFFFF;
    font-size: 14px;
    vertical-align: middle;
}

.btn-nav:hover {
    background-color: #1D1B8B;
    color: #FFFFFF;
}

.btn-dark {
    background-color: #2521BF;
    border: 1px solid #231FB9;
    color: #FFFFFF;
}

.btn-dark:hover {
    background-color: #1D1B8B;
    border: 1px solid #1D1B8B;
    color: #FFFFFF;
}

.nav-link {
    font-size: 16px;
}

.profile-img-sm {
    margin-right: 10px;
}


/* Survey page */

.container-survery {
    padding: 30px;
}

.container-info {
    padding: 0px;
}

.survey-info {
    color: #665E5E;
}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.survery-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

.container-question {
    padding: 30px;
    margin-bottom: 20px;
}

.emotion-image {
    width: 45px;
}

.slider-center {
    width: 80%
}

.img-arrow {
    width: 100%;
}
.toast-success {
    opacity: 1 !important;
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}
.toast-error {
    opacity: 1 !important;
    color: #d4cdc9 !important;
    background-color: #e9722d !important;
    border-color: #e9722d !important;
}
/*range*/
.wrunner__outer_theme_default.wrunner__outer_direction_horizontal {
    height: 0.5rem;
    width: 100%;
}
.wrunner__path_theme_default.wrunner__path_direction_horizontal {
    top: 0;  
    z-index: 99;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal {   
 background-color: #4E4AFF;
 top: -40px;
}
.wrunner_theme_default.wrunner_direction_horizontal {
    padding: 0;
}
.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal::after {
    left: 8px;
    border-top-color: #4E4AFF;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed {
    background-color: #4E4AFF;
}
.wrunner__handle_theme_default.wrunner__handle {
    top: 0;
    height: 20px;
    width: 9px;
    border-radius: 5px !important;
    background-color: #fff !important;
    border: 1px solid #4E4AFF !important;
    top: -2px;
}
.range-lr {
    top: -6px;
    position: absolute;
    height: 20px;
    width: 6px;
    background: #C7C2CF;
    z-index: 9;
}
.range-l {
    background-color: #4E4AFF;
    left: 0;
}
.range-r {
    right: 0;
}
.wrunner__path_theme_default.wrunner__path {
    border-radius: 0;
}
.wrunner__pathPassed_theme_default.wrunner__pathPassed {
    border-radius: 0;
}
/* ---- Dashboard page ---- */

.main-filters {
    padding-right: 25px;
}

.main-toolbar {
    vertical-align: middle;
}

.navbar-light {
    background-color: #e8e8ee;
}
.table {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.table>:not(:first-child) {
    border-top: none;
}
tbody tr {
    background-color: white;
    vertical-align: middle;
}
th,td {
    border: none;
    font-size: 14px;
}
th {
    padding: 18px .5rem !important;
}

/* Settings page */

.container-settings {
 max-width: 720px;
 padding: 35px;

}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.list li {
 background: #F6F6F6;
 color: #090909;
 padding: 10px 15px;
 border-radius: 5px;
 font-size: 14px;
}
.min-height-c {
    min-height: calc(100vh - 305px);
}
/* Register-login page */
.container-register {
    max-width: 666px;
}

.container-login {
    max-width: 350px;
}
.form-label {
    font-weight: 700;
}
.font-14 {
    font-size: 14px;
}
/* new quiz page */
.container-sucess {
    max-width: 620px;
    padding: 25px; 
}
.form-control {
    background: #f6f6f6;
    border-color: #f6f6f6;
    color: #707070;
    height: 41px;
    font-size: 14px;
}
.container-login .form-select {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
.form-control:focus {
    background: #f6f6f6;
    border-color: #f6f6f6;
    box-shadow: none;
}
/* ---- COLORS ---- */

.main-blue {
    color: #4E4AFF;
}

.dark-blue {
    color: #2521BF;
}

.dark-gray {
    color: #555454;
}

.light-gray {
    color: #878787;
}

.main-yellow {
    color: #ED9818;
}

.main-red {
    color: #E32323;
}

.main-green {
    color: #09CA34;
}
.v-error{
    color:red;
    font-size: 10px;
    margin-left: 2px;
}
.curser-p{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .form-select {
        min-width: 175px;
    }
}
@media screen and (max-width: 767px) {
    .fil-label {
        width: 140px;
    }
    .container-survery,.container-question,.container-settings {
        padding: 20px;
    }
    .nav-pills .nav-link {
        font-size: 14px;
    }
    .slider-center {
        width: 100%
    }
    .emotion-image {
        width: 30px;
    }
}